<div class="container">
  <table>
    <th>
      <form name="calculatrice">
        <center>
        <%# <textarea style="WIDTH: 400px; HEIGHT: 50px; TEXT-ALIGN:right;" name="result" align="right" class="affiche"></textarea><br>
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b2" value="7" onClick="ajouter('7')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b3" value="8" onClick="ajouter('8')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b4" value="9" onClick="ajouter('9')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b12" value="&divide;" onClick="ajouter('/')" size="30"><br>
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b5" value="4" onClick="ajouter('4')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b6" value="5" onClick="ajouter('5')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b7" value="6" onClick="ajouter('6')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b11" value="x" onClick="ajouter('*')" size="30"><br>
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b8" value="1" onClick="ajouter('1')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b9" value="2" onClick="ajouter('2')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b10" value="3" onClick="ajouter('3')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b13" value="-" onClick="ajouter('-')" size="30"><br>
        <input style="FONT-WEIGHT: bold; WIDTH: 200px; HEIGHT: 50px" type="button" name="b14" value="0" onClick="ajouter('0')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b15" value="." onClick="ajouter('.')" size="30">
        <input style="FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 50px" type="button" name="b16" value="+" onClick="ajouter('+')" size="30"><br>
        <input style="FONT-WEIGHT: bold; WIDTH: 420px; HEIGHT: 50px" type="button" name="b18" value="=" onClick="calcul()" size="30"><br> %>

        <textarea style="WIDTH: 200px; HEIGHT: 50px; TEXT-ALIGN:right;" name="result" align="right" class="affiche"></textarea><br>
        <input class="btn" type="button" name="b2" value="7" onClick="ajouter('7')">
        <input class="btn" type="button" name="b3" value="8" onClick="ajouter('8')">
        <input class="btn" type="button" name="b4" value="9" onClick="ajouter('9')">
        <input class="btn orange" type="button" name="b12" value="&divide;" onClick="ajouter('/')"><br>
        <input class="btn" type="button" name="b5" value="4" onClick="ajouter('4')">
        <input class="btn" type="button" name="b6" value="5" onClick="ajouter('5')">
        <input class="btn" type="button" name="b7" value="6" onClick="ajouter('6')">
        <input class="btn orange" type="button" name="b11" value="x" onClick="ajouter('*')"><br>
        <input class="btn" type="button" name="b8" value="1" onClick="ajouter('1')">
        <input class="btn" type="button" name="b9" value="2" onClick="ajouter('2')">
        <input class="btn" type="button" name="b10" value="3" onClick="ajouter('3')">
        <input class="btn orange" type="button" name="b13" value="-" onClick="ajouter('-')"><br>
        <input class="btn" id="zero" type="button" name="b14" value="0" onClick="ajouter('0')">
        <input class="btn" type="button" name="b15" value="." onClick="ajouter('.')" size="30">
        <input class="btn orange" type="button" name="b16" value="+" onClick="ajouter('+')"><br>
        <input class="btn orange" id="egal" type="button" name="b18" value="=" onClick="calcul()"><br>
        </center>
      </form>
    </th>
  </table>
</div>